#$ sudo yum install -y readline-devel libmemcached libmemcached-devel
BeautifulSoup
Django
Fabric
Markdown
Pillow
PyYAML
South
amqp
anyjson
beautifulsoup4
billiard
bleach
boto
celery
dj-database-url
django-allauth
django-analytical
django-annoying
django-appconf
django-celery
django-celery-with-redis
django-compressor
django-debug-toolbar
django-extensions
django-heroku-memcacheify
django-heroku-postgresify
django-longerusernameandemail
django-mailgun
django-nose
django-pylibmc
django-selector
django-ses
django-sslify
django-staticfiles
django-storages
dropbox
ecdsa
facepy
#$ sudo yum install -y readline-devel
gnureadline
gunicorn
html5lib
ipython
kombu
newrelic
nose
oauthlib
paramiko
psycopg2
pycrypto
pyembed
pyembed-markdown
#$ sudo yum install -y libmemcached libmemcached-devel
pylibmc
python-oembed
python-openid
pytz
redis
requests
requests-oauth2
requests-oauthlib
selenium
six
sorl-thumbnail
splinter
sqlparse
titlecase
tweepy
urllib3
versiontools
wsgiref
